:root {
    --primary-dark-bg-color: #030712;
    --primary-dark-text-color: #F9FAFB;

    --secondary-dark-bg-color: #111827;    
    
    --primary-light-bg-color: #FFFFFF;
    --primary-light-text-color: #4B5563;

    --secondary-light-bg-color: #E5E7EB;
}

*{
    margin: 0;
    padding: 0;
}

/* there is the css related to section_tag.js */

.section-tag.dark{
    background-color: #374151;
}
.section-tag{
    font-size: large;
    padding: .5vh 1.5vw;
    background-color: var(--secondary-light-bg-color);
    margin: auto;
    border-radius: 1.5vh;
    margin-right: 1vw;
}

/* there is the css related to skill_card.js */

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 3vw;
}

.skill-card-logo{
    height: 7vh;
}

.skill-name{
    margin-top: 1vh;
    font-size: x-large;
}

/* there is the css related to project_card.js */

.project-card.dark{
    background-color: #1F2937;
    box-shadow: none;
}

.project-card{
    width: 80vw;
    margin-top: 4vh;
    display: flex;
    background-color: var(--primary-light-bg-color);
    border-radius: 2vh;
    box-shadow: 0px 20px 30px 10px var(--secondary-light-bg-color) ;
}

.project-thumbnail-container.dark{
    background-color: #374151;
    
}

.project-thumbnail-container{
    width: 50%;
    background-color: var(--primary-light-bg-color);
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;   
}

.project-thumbnail{
    margin: 4vh 2.5vw;
    width: 35vw;
    border-radius: 2vh;
}

.project-content-container{
    width: 50%;
    padding: 4vh 2.5vw;

}

.project-title{
    font-size: x-large;
    margin-bottom: 2vh;
}

.project-description{
    font-size: large;
    margin-bottom: 2vh;
    
}

.tech-tag-container{
    display: flex;
    flex-wrap: wrap;
    
}

.visit-icon{
    height: 3vh;
    margin-top: 4vh;
}

/* there is the css related to footer.js */

.footer-body.dark{
    background-color: var(--secondary-dark-bg-color);
    color: var(--primary-dark-text-color);
}

.footer-body{
    display: flex;
    padding: 2vh 2vw;
    background-color: var(--primary-light-bg-color);
    color: var(--primary-light-text-color);
    align-items: center;
    justify-content: center;
}

.footer-content{
    padding-left: 1vh;
}

/* icon related css */

.icon{
    height: 3vh;
    padding: 1vh;
}
