
.header-body.dark{
    background-color: var(--primary-dark-bg-color);
    color: var(--primary-dark-text-color);
}

.header-body{
    height: 8vh;
    background-color: var(--secondary-light-text-color);
    border-bottom: 1px sloid #374151;
    color: var(--primary-light-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.logo.dark{
    color: var(--primary-dark-text-color);
}

.logo{
    color: var(--primary-light-text-color);
    text-decoration: none;
}

.menu-button-container{
    display: none;
}

.nav-list{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.nav-list-item{
    font-size: 1rem;
    align-content: center;
    text-decoration: none;
    color: var(--primary-light-text-color);
    padding: .75vh 1vw;
    border-radius: 1vh;
}

.nav-list-item:hover{
    background-color: var(--secondary-light-bg-color);
}


.nav-list-item.dark{    
    color: var(--primary-dark-text-color);     
}

.nav-list-item.dark:hover{
    background-color: var(--secondary-dark-bg-color);
}

.nav-list :nth-child(3){
    margin-right: 1vw;

}

.icon-container{
    height: 4vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    border-left: 1px solid #374151;
    padding-left: 1vw;
    
}

.theme_text{
    display: none;
}

.theme-icon{
    height: 3vh;
    padding: .5vh;
}

#resume-button.dark{
    color: var(--primary-light-text-color);
    background-color: var(--primary-light-bg-color);
}

#resume-button{
    height: 4vh;
    width: 10vw;
    padding: 1vh;
    font-size: 1rem;
    text-align: center;
    border-radius: 1vh;
    border: none;
    color: var(--primary-dark-text-color);
    background-color: var(--primary-dark-bg-color);
    margin-left: 1vw;
}

@media screen and (max-width: 998px){
    
    .header-body{
        width: 100vw;
        position: relative;     
    }

    .logo{
        width: 80vw;
        font-size: small;
        margin-left: 5vw;

    }

    .menu-button-container{
        width: 8vh;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-button{
        height: 3vh;
        margin-right: 5vw;
    }

    .menu-button[name="close"]{
        display: none;
    }

    .nav-list-container{
        height: 35vh;
        width: 100%;
        display: block;
        position: absolute;
        top: 8vh;
        background-color: var(--primary-light-bg-color);
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .nav-list-container.dark{
        background-color: var(--primary-dark-bg-color);
    }

    
    .nav-list-container.active-menu{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }

    .nav-list{
        height: 35vh;
        width: 90vw;
        margin: 0;
        flex-direction: column; 
        align-items: flex-start;  
        padding: 0 5vw;
    }

    .nav-list-item{
        font-size: larger;
    }    

    .nav-list :nth-child(3){
        padding-bottom: 2vh;
        border-bottom: 1px solid #374151;
        border-right: none;
        width: 80vw;
        padding-right: 2vh;
        border-radius: 0;
    }

    .icon-container{
        height: auto;
        width: 90vw;
        display: flex;
        flex-direction: row;
        overflow-x: hidden; 
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        
    }

    .theme_text{
        display: block;
    }

    #resume-button{
        height: 5vh;
        width: 90vw;
        padding: 1vh;
        font-size: 1rem;
    }
}
