:root {
    --primary-dark-bg-color: #030712;
    --primary-dark-text-color: #F9FAFB;

    --secondary-dark-bg-color: #111827;    
    
    --primary-light-bg-color: #FFFFFF;
    --primary-light-text-color: #4B5563;

    --secondary-light-bg-color: #E5E7EB;
    --secondary-light-text-color: #E4EAF5;

}

*{
    margin: 0;
    padding: 0;
}

.header-body.dark{
    background-color: var(--primary-dark-bg-color);
    color: var(--primary-dark-text-color);
}

.header-body{
    height: 8vh;
    background-color: var(--secondary-light-text-color);
    border-bottom: 1px sloid #374151;
    color: var(--primary-light-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo.dark{
    color: var(--primary-dark-text-color);
}

.logo{
    color: var(--primary-light-text-color);
    text-decoration: none;
}

.nav-list{
    width: 25vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.nav-list-item{
    font-size: 1rem;
    align-content: center;
    text-decoration: none;
    color: var(--primary-light-text-color);
    

}

.nav-list-item.dark{
    color: var(--primary-dark-text-color);
}

.nav-list :nth-child(3){
    border-right: 1px solid #374151;
    padding-right: 2vh;
}

.icon-container{
    height: 4vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    
}

.theme-icon{
    height: 3vh;
    padding: .5vh;
}

#resume-button.dark{
    height: 4vh;
    width: 10vw;
    padding: 1vh;
    font-size: 1rem;
    text-align: center;
    border-radius: 1vh;
    border: none;
    color: var(--primary-light-text-color);
    background-color: var(--primary-light-bg-color);
}

#resume-button{
    height: 4vh;
    width: 10vw;
    padding: 1vh;
    font-size: 1rem;
    text-align: center;
    border-radius: 1vh;
    border: none;
    color: var(--primary-dark-text-color);
    background-color: var(--primary-dark-bg-color);
}

@media screen and (min-width: 998px){
    
    .header-body{
        width: 100vw;
    }
    
    
}
