
.hero-body.dark{
    background-color: var(--primary-dark-bg-color);
    color: var(--primary-dark-text-color);
}

.hero-body{
    background-color: var(--primary-light-bg-color);
    color: var(--primary-light-text-color);
    padding: 15vh 10vw;
    display: flex;
}

.content-container{
    width: 60%;
}

.hero-intro-heading{
    font-size: 500%;
    margin-bottom: 2vh;
}

.hero-intro-para{
    font-size: larger;
    margin-bottom: 3vh;
}

.location-container{
    display: flex;
}

.location-icon{
    margin-right: 1vw;
    height: 3vh;
}

.active-dot{
    content: '';
    background-color: greenyellow;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 1vh;
    margin-right: 1.5vw;
    
}

.hero-link-list{
    list-style: none;
    display: flex;
}

.hero-link-list-item{
    padding-right: 3vh;
}

.hero-link_icon{
    height: 4vh;
}

.hero-img.dark{
    border-right:.5vw solid var(--primary-dark-bg-color);
    border-bottom:.5vw solid var(--primary-dark-bg-color);
    box-shadow: 4vh 4vh 2px 0px #374151 ;
       
}

.hero-img{
    height: 40vh;
    margin-left: 10vw;
    border-right:.5vw solid var(--primary-light-bg-color);
    border-bottom:.5vw solid var(--primary-light-bg-color);
    box-shadow: 4vh 4vh 2px 0px var(--secondary-light-bg-color) ;
       
}

@media screen and (max-width: 998px){

    .hero-body{
        padding: 8vh 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-img{
        width: 60vw;
        height: auto;
        margin: 0;
        border-left: 2vw solid var(--primary-light-bg-color);
        border-bottom: 2vw solid var(--primary-light-bg-color);
        border-right: 2vw solid var(--primary-light-bg-color);
        box-shadow: -3vh 3vh 2px -1vh var(--secondary-light-bg-color),3vh 3vh 2px -1vh var(--secondary-light-bg-color) ;

    }

    .hero-img.dark{
        border-left: 2vw solid var(--primary-dark-bg-color);
        border-bottom: 2vw solid var(--primary-dark-bg-color);
        border-right: 2vw solid var(--primary-dark-bg-color);        
        box-shadow: -3vh 3vh 2px -1vh #374151,3vh 3vh 2px -1vh #374151 ;
    }

    .content-container{
        width: 80vw;
        margin-top: 5vh;

    }

    .hero-intro-heading{
        font-size: xx-large;
        text-align: center;
        margin-bottom: 2vh;
    }
    
}